.Results {
  background: #4c5c68;
  color: #EEECEC;
  border-radius: 15px;
  padding: 30px;
}
img {
  background: #6D7B84;
  height: 200px;
}

p {
  margin: 0;
}

.word-searched {
  font-weight: 700;
  padding-bottom: 10px;
}
